#header {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 640px) {
  #header {
    margin-bottom: 4%;
  }
}

#page_title {
  padding-top: 16px;
  color: white;
  font-size: 2.5rem;
  line-height: 1.2;
  text-align: center;
  padding-left: 4px;
  padding-right: 4px;
  overflow-wrap: break-word;
}

.underline_magical {
  background-image: linear-gradient(to right, #667EEA 0%, #7F9CF5 51%);
  background-repeat: no-repeat;
  background-size: 100% 0.25em;
  background-position: 0 94%;
  transition: background-size 0.25s ease-in;
}

.underline_magical:hover {
  background-size: 100% 88%;
}