// We can import bulma into the project using Sass.
@import "../node_modules/bulma/bulma";
// TODO: Import essentials only! Reduced bundle size

$pastel-info: rgba(36, 177, 209, .2);

body {
  font-family: "Proxima Nova", system-ui, sans-serif;
  letter-spacing: 1px;
}

// TODO: Animate underline

.shadow {
  &.is-info {
    -moz-box-shadow: inset 0 -2px 0 $info;
    -webkit-box-shadow: inset 0 -2px 0 $info;
    box-shadow: inset 0 -2px 0 $info;
  }

  &.is-danger {
    -moz-box-shadow: inset 0 -2px 0 $danger;
    -webkit-box-shadow: inset 0 -2px 0 $danger;
    box-shadow: inset 0 -2px 0 $danger;
  }

  &.is-success {
    -moz-box-shadow: inset 0 -2px 0 $success;
    -webkit-box-shadow: inset 0 -2px 0 $success;
    box-shadow: inset 0 -2px 0 $success;
  }

  &.is-warning {
    -moz-box-shadow: inset 0 -2px 0 $warning;
    -webkit-box-shadow: inset 0 -2px 0 $warning;
    box-shadow: inset 0 -2px 0 $warning;
  }

  &.pastel-blue {
    -moz-box-shadow: inset 0 -2px 0 $pastel-info;
    -webkit-box-shadow: inset 0 -2px 0 $pastel-info;
    box-shadow: inset 0 -2px 0 $pastel-info;
  }

  &.is-purple {
    -moz-box-shadow: inset 0 -2px 0 $purple;
    -webkit-box-shadow: inset 0 -2px 0 $purple;
    box-shadow: inset 0 -2px 0 $purple;
  }
}

.button {
  &.is-purple {
    &.is-outlined {
      border-color: $purple;
      color: $purple;
      background: transparent;
    }
  }
}

.dark-footer {
  background-color: $dark !important;
  color: white;

  strong {
    color: white;
  }

  .icon {
    color: $info;
  }

  .icon:hover {
    color: white;
  }
}

.badgeSet {
  display: inline-block;
  pointer-events: none;
}


.builtSet {
  position: relative;
  top: 0.5rem;
  pointer-events: none;
}

.projectSet {
  position: relative;
  top: 4px;
}

.padTopBuilt {
  padding-top: 0.7rem;
}

.emoji {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  position: relative;
  top: 5px;
}

.waving-hand {
  animation-name: waving;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-play-state: running;

  @keyframes waving {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    20% {
      -webkit-transform: rotate(15deg);
      transform: rotate(15deg);
    }
    40% {
      -webkit-transform: rotate(-15deg);
      transform: rotate(-15deg);
    }
    60% {
      -webkit-transform: rotate(7deg);
      transform: rotate(7deg);
    }
    80% {
      -webkit-transform: rotate(-7deg);
      transform: rotate(-7deg);
    }
    100% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
  }
}

.point-down {
  animation-name: pointing;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 2.5s;
  animation-iteration-count: 2;
  animation-direction: normal;
  animation-fill-mode: both;
  animation-play-state: running;

  @keyframes pointing {
    0% {
      transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
    }
    50% {
      transform: translateY(5px);
      -webkit-transform: translateY(5px);
    }
    100% {
      transform: translateY(-5px);
      -webkit-transform: translateY(-5px);
    }
  }
}




