// We can import bulma into the project using Sass.
@import "../node_modules/bulma/bulma";
// TODO: Import essentials only! Reduced bundle size

$pastel-info: rgba(36, 177, 209, .2);

body {
  font-family: "Proxima Nova", system-ui, sans-serif;
  letter-spacing: 1px;
}

// TODO: Animate underline

.shadow {
  &.is-info {
    -moz-box-shadow: inset 0 -2px 0 $info;
    -webkit-box-shadow: inset 0 -2px 0 $info;
    box-shadow: inset 0 -2px 0 $info;
  }

  &.is-danger {
    -moz-box-shadow: inset 0 -2px 0 $danger;
    -webkit-box-shadow: inset 0 -2px 0 $danger;
    box-shadow: inset 0 -2px 0 $danger;
  }

  &.is-success {
    -moz-box-shadow: inset 0 -2px 0 $success;
    -webkit-box-shadow: inset 0 -2px 0 $success;
    box-shadow: inset 0 -2px 0 $success;
  }

  &.is-warning {
    -moz-box-shadow: inset 0 -2px 0 $warning;
    -webkit-box-shadow: inset 0 -2px 0 $warning;
    box-shadow: inset 0 -2px 0 $warning;
  }

  &.pastel-blue {
    -moz-box-shadow: inset 0 -2px 0 $pastel-info;
    -webkit-box-shadow: inset 0 -2px 0 $pastel-info;
    box-shadow: inset 0 -2px 0 $pastel-info;
  }
}

.skills {
  @media only screen and (min-width: 769px) {
    padding-left: 61%;
  }
  @media only screen and (max-width: 813px) {
    padding-left: 50%;
  }
  @media only screen and (max-width: 768px) {
    padding-left: 0%;
  }
}

.experience {
  @media only screen and (min-width: 769px) {
    padding-left: 42%;
  }
  @media only screen and (max-width: 1471px) {
    padding-left: 40%;
  }
  @media only screen and (max-width: 1279px) {
    padding-left: 34%;
  }
  @media only screen and (max-width: 891px) {
    padding-left: 30%;
  }
  @media only screen and (max-width: 845px) {
    padding-left: 27%;
  }
  @media only screen and (max-width: 817px) {
    padding-left: 24%;
  }
  @media only screen and (max-width: 785px) {
    padding-left: 14%;
  }
  @media only screen and (max-width: 768px) {
    padding-left: 0%;
  }
}

.text-right-until-mobile {
  @media only screen and (min-width: 769px) {
    text-align: right;
  }
}

.dark-footer {
  background-color: $dark;
  color: white;
}
